



.box4bottomSection{
    height: auto;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
    padding-bottom: 50px;
    margin-top: 50px;
    
}
.bottom-text > .btnn {
    display: flex;
    gap: 20px;
  }
  .btnn > button {
    width: 180px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(250, 93, 0, 100%);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 20px;
  }