*{
    font-family: MuotoWeb,sans-serif;
    font-weight: 500;
    font-style: normal;
    /* background-color: #FFF7F2; */

}
.harvest_mainContainer{
    /* border: 1px solid red; */
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    padding-bottom: 100px;
}
.harvest_mainContainer>.harvest_banner{
   /* border: 1px solid red;
    */
    width: 100%;
}
.harvest_mainContainer>.harvest_banner>.banner_hero_img{
    
    border-bottom:1px solid rgba(250,93,0,100%);
    height: auto;
    width: 100%;
    background-color: #FFF7F2;
    background-image: url(//19495563.fs1.hubspotusercontent-na1.net/hubfs/19495563/raw_assets/public/harvest-theme/images/auras/aura-spike-bottom-right.jpg);
    background-size: 687px 410px;
    background-repeat: no-repeat;
    /* position: ; */
    background-position: calc(50% + 340px) bottom;
    padding-bottom: 100px;
}
.banner_hero_img>.text{
    width: fit-content;
    height: 100%;
    text-align: left;
    margin-left:500px;
    padding-top: 15px ;
}
.text>h1{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 50px;
}
.text>h3{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 29px;
    letter-spacing: 2px;
}
.text>.btn{
  display: flex;
  gap: 30px;
}
.btn>button{
    width: 190px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(250,93,0,100%);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.harvest_mainContainer>.middle_section{

    border-bottom: 1px solid rgba(250,93,0,100%);
    height: auto;
    
    background-color: #fff8f1;
}
/* Empower Text */
.middle_section>.empower_section{
    border-bottom: 1px solid rgba(250,93,0,100%);
    height: auto;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding-bottom: 50px;
}
.empower_section>div{
    padding-top: 50px;
}
.empower_section>.empower_image h3,h4{
font-style: italic;
color: grey;
}
.empower_section>.empower_text{
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.empower_text h1{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 55px;
    padding-left: 10px;
}
.empower_text h3{
    line-height: 30px;
    font-weight: 400;
    text-decoration: nbutton
}
.feacture_checklist li{
    font-size: 18px;
}
.feature_checklist li{
    font-size: 17px;
    padding-left: 35px;
    background-image: url(//19495563.fs1.hubspotusercontent-na1.net/hubfs/19495563/raw_assets/public/harvest-theme/images/icons/icon-checklist.svg);
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 5px;
}
li{
    display: list-item;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.empower_text>button{
    width:160px;
    height: 45px;
    border-radius: 10px;
    background-color: #1d1e1c;
    color: #fff;
    font-size: medium;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 20px;
}
/* Timetrack section */

.middle_section>.Timetrack_section{
    border-bottom: 1px solid rgba(250,93,0,100%);
    height: auto;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding-bottom: 50px;
    margin-top: 50px;
}
.Timetrack_text>button{
    width:160px;
    height: 45px;
    border-radius: 10px;
    background-color: #1d1e1c;
    color: #fff;
    font-size: medium;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 20px;

}
.Timetrack_section>div{
    padding-top: 50px;
}
.Timetrack_section>.Timetrack_img>h3,h4{
font-style: italic;
color: grey;
font-size: 15px;
}
.Timetrack_section>.Timetrack_text{
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.Timetrack_text h1{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 55px;
    padding-left: 10px;
}
.Timetrack_text h3{
    line-height: 30px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #1d1e1c;
    font-family: MuotoWeb,sans-serif;
    padding-left: 10px;

}

/* Keep Project on Track Section */

.middle_section>.KeepTrack_section{
    border-bottom: 1px solid rgba(250,93,0,100%);
    height: auto;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding-bottom: 50px;
    margin-top: 50px;
}
.KeepTrack_text>button{
    width:160px;
    height: 45px;
    border-radius: 10px;
    background-color: #1d1e1c;
    color: #fff;
    font-size: medium;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 20px;

}
.KeepTrack_section>div{
    padding-top: 50px;
}
.KeepTrack_section>.KeepTrack_image>h3,h4{
font-style: italic;
color: grey;
font-size: 15px;
}
.KeepTrack_section>.KeepTrack_text{
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.KeepTrack_text h1{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 55px;
    padding-left: 10px;
}
.KeepTrack_text h3{
    line-height: 30px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #1d1e1c;
    font-family: MuotoWeb,sans-serif;
    padding-left: 10px;

}

/* Partner Banner */
.middle_section>.Partner_banner{
    height: 150px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    opacity: .2;
}
.Partner_banner>img{
    width:60px
}
/* Bottom Section */
.bottom_section{
    height: auto;
    width: 48%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding-bottom: 50px;
    margin-top: 50px;

}
.bottom_text>.btn{
   display: flex;
   gap: 20px;
}
.btn>button{ width:180px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(250,93,0,100%);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 20px;}
.bottom_section>div{
    padding-top: 50px;
}
.bottom_section>.bottom_image>h3,h4{
font-style: italic;
color: grey;
font-size: 15px;
}
.bottom_section>.bottom_text{
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.bottom_text h1{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 55px;
    padding-left: 10px;
}
.bottom_text h3{
    line-height: 30px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #1d1e1c;
    font-family: MuotoWeb,sans-serif;
    padding-left: 10px;

}
/* media queries */
@media (max-width:1146px){
    .harvest_mainContainer{
        /* border: 1px solid red; */
        width: 110%;
        height: fit-content;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    .middle_section>.empower_section{
        border-bottom: 1px solid rgba(250,93,0,100%);
        height: auto;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding-bottom: 50px;
    }
    .middle_section>.Timetrack_section{
        border-bottom: 1px solid rgba(250,93,0,100%);
        height: auto;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding-bottom: 50px;
    }
    .middle_section>.KeepTrack_section{
        border-bottom: 1px solid rgba(250,93,0,100%);
        height: auto;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding-bottom: 50px;
    }
    .bottom_section{
        height: auto;
        width: 48%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
}
@media (minmax-width:632px){
    .harvest_mainContainer{
        /* border: 1px solid red; */
        width: 115%;
        height: fit-content;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    .middle_section>.empower_section{
        border-bottom: 1px solid rgba(250,93,0,100%);
        height: auto;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding-bottom: 50px;
    }
    .middle_section>.Timetrack_section{
        border-bottom: 1px solid rgba(250,93,0,100%);
        height: auto;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding-bottom: 50px;
    }
    .middle_section>.KeepTrack_section{
        border-bottom: 1px solid rgba(250,93,0,100%);
        height: auto;
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .bottom_section{
        height: auto;
        width: 48%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding-bottom: 50px;
        margin-top: 50px;
    
    }
}